svg.schema-svg
  position: absolute
  left: 0
  top: 0

  line.link
    fill: none
    stroke: #000
    stroke-width: 4px
    cursor: default

    &.selected
      stroke-dasharray: 10,2

    &.dragline
      pointer-events: none

    &.hidden
      stroke-width: 0

  line.schema-drawnlink
    stroke: #ff0000
    stroke-width: 2px

.schema-label
  font:
    size: 20px

svg.schema-tree
  overflow: visible

#schema-edit-labels
  position: absolute
  top: 0
  left: 0
  width: 1920px
  height: 1080px
  pointer-events: none

  .MuiInputBase-root
    font:
      size: 20pt
    max-width: 250px

  .schema-edit-label
    position: absolute
    transform-origin: center
    pointer-events: auto



//svg:not(.active):not(.ctrl) path.link {
//  cursor: pointer;
//}
